<?xml version="1.0"?>
<log4net debug="true">
  <appender name="OutputDebugStringAppender" type="log4net.Appender.TraceAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date][%4thread][%-5level][%-6logger] %message%newline" />
    </layout>
      <threshold value="DEBUG" />
  </appender>
  <appender name="ConsoleDebugAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
    </layout>
      <threshold value="DEBUG" />
  </appender>
  
  <appender name="Buffer4RollingFile" type="log4net.Appender.BufferingForwardingAppender">
    <bufferSize value="1"/>
    <appender-ref ref="RollingFileAppender" />
    <threshold value="DEBUG" />
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <bufferSize value="1" />
    <file value="C:\PixelMecanica\Logs\Log_PixelMecanica.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="100KB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
    <threshold value="ALL"/>
  </appender>
  
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--<connectionString value="Data Source=NBDEV07\SQLEXPRESS;Initial Catalog=PixelMecanica;Integrated Security=True;application name=PixelMecanica" />-->
    <!--<connectionString value="Data Source=pixelmecanica.db.7620628.hostedresource.com;Initial Catalog=pixelmecanica;Persist Security Info=True;User ID=pixelmecanica;Password=Mecanica123;application name=PixelMecanica" />-->
    <connectionString value="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\PixelMecanica\App_Data\PixelMecanica.mdf;Integrated Security=True;User Instance=True" />
    <commandText value="INSERT INTO dbo.LOG_PIXELMECANICA ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <threshold value="ALL"/>
  </appender>



  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleDebugAppender"/>
    <!--<appender-ref ref="OutputDebugStringAppender"/>-->
    <appender-ref ref="Buffer4RollingFile"/>
    <appender-ref ref="AdoNetAppender"/>
  </root>

</log4net>